.card{
    background-color: aquamarine;
    background-size: cover;
    height: 100vh;
    margin: 20px;
    
}


.msg1{
position: absolute;
top: 0;
left: 0;

}

.msg2{
    position: absolute;
    bottom: 0;
    left: 0;
    
    }

    .msg3{
        position: absolute;
        top: 0;
        right: 0;
        
        }

        .msg4{
            position: absolute;
            bottom: 0;
            right: 0;
            
            }

            body{
                overflow: hidden;
                margin: 0;
                padding: 0;
            }